body {
    background-image: url(bild1.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin: 0 auto; 
    border-radius: 30px;
    margin-top: 12%;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

legend {
  color: rgb(248, 35, 88);
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
	grid-column: span 2;
	text-align: center;
}

.button {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(248, 35, 88);
    border-style: double;
    border-radius: 10px;
    border-width: 1px;
  }

  .button:hover span {
    padding: 10px;
  }

  .fsSelection {
      border-radius: 10px;
      border-style: groove;
      border-color: #27850a;
      width: 500px;
  }

  
