body {
    background-color: bisque;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin: 0 auto; 
    border-radius: 30px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
}

label::after {
	content:"";
	display: block;
}

head {
	display: none;
}
input:invalid {
	background: #F0C060;
}
input:valid {
	background: white;
}
input:required {
	background: #aaaaaa;
}

datalist option {
	display: inline;	
}
textarea {
	width: 100%;
}
h1 {
	grid-column: span 2;
	text-align: center;
}

legend {
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #0a850a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 40spx;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .fsSelection {
      border-radius: 10px;
      border-style: groove;
      border-color: #0a850a;
      width: 500px;
  }