body {
    /* background-image: url("bilder/arena.jpg");
    background-size:cover; */
    background-color: black;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}

p {
    font-family: 'Montserrat', sans-serif;
}

legend {
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}

fieldset {
    text-align: center;
    color: white;
    margin-bottom: 8px;
    border-color: white;
    border-radius: 10px;
}

.reference {
    width: 200px;
    background-color: green;
    border-radius: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 5px;
    border-radius: 10px;

    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2%;
    margin-top: 2%; */

    /* float: both;
    margin-left: 0px;
    margin-top: 0px; */

    float: right;
}


/* .test {
    color: khaki;
    
} */

.hallo {
    background-color: red;
}

#startButton {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 2%;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.6;
    background-color: green;
    border-color: white;
    color: white;
    border-radius: 10px;
    border-style:solid;
}

#startButton:hover {
    opacity: 1;
    transition-duration: 0.4s;
    color: green;
    background-color: white;
    /* font-size: 15px; */
  }

#formular {
    width: 15%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    background-color: green;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

#soccerfield {
    /* float: right;
    margin-right: 10%;
    margin-top: 2%; */
    justify-content: center;
    
}

#display {
    text-align: center;
    float: right;
    background-color: green;
    color: white;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-right: 2%;
}

canvas {
    border-radius: 10px;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    
}